<html>

    <head>
        <title>{{ title }} - Raspberry Pi Meteo</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <div style="text-align: center; font-size: 250%">
            {{ time }}
            <br>
            {{ '%0.2f' % temp|float }} °C
            <br>
            {{ '%0.2f' % hum|float }} %
            <br>
            <img src= {{ url_for('static', filename = 'plot.png') }} >
        </div>
        <div style="text-align: center; font-size: 100%">
            Data from HIH8120 sensor, 1 minute sampling period, Ctrl+F5 for cache refresh (Chrome).
        </div
    </body>

</html>
